* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yantramanav", sans-serif;
  background-color: #f7f7f7;
  color: #263144;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.search-container {
  text-align: center;
  margin-bottom: 2em;
}

input[type="text"] {
  border: 1px solid #263144;
  border-radius: 32px;
  padding: 0.5em;
}

button {
  border: none;
  background: none;
  padding: 0.5em;
}

.main-details-container {
  margin-bottom: 3em;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location p {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5em;
}

.main-forecast {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.forecast-description {
  display: flex;
  justify-content: center;
}

.current-weather-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  margin-bottom: 3em;
  border-radius: 12px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

.temperatures {
  line-height: 1;
  width: 60%;
}

.current-temperature {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
}

.feels-like-temperature {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.minmax-temperature {
  display: flex;
  font-weight: 500;
}

.minmax-temperature p {
  margin-right: 0.75em;
}

.overcast-container {
  width: 40%;
  align-self: center;
}

.overcast-container img {
  display: block;
  margin: 0 auto;
}

.overcast-container p {
  text-align: center;
}

.weather-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
