* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Yantramanav", sans-serif;
  background-color: #f2f2f0;
  color: #48484a;
  height: 100vh;
}

main {
  width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;
}

.search-form {
  position: relative;
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 328px;
}

input[type="text"] {
  border: 1px solid #48484a;
  border-radius: 6px;
  padding: 0.75em;
  width: 70%;
}

button {
  position: absolute;
  right: 15%;
  border: none;
  background: none;
  padding: 0.75em;
  color: #48484a;
  cursor: pointer;
}

button:hover {
  color: #c2c2c2;
}

.main-details-container {
  margin-bottom: 3em;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location p {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5em;
}

.main-forecast {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.date-container {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.current-weather-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2em 1.5em;
  margin: 0 auto 3em auto;
  max-width: 328px;
  border-radius: 12px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

.temperatures {
  line-height: 1;
  width: 60%;
  margin-left: 0.75em;
}

.current-temperature {
  font-size: 4rem;
  font-weight: 700;
  margin-left: -12px;
}

.feels-like-temperature {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.minmax-temperature {
  display: flex;
  font-weight: 500;
}

.minmax-temperature p {
  margin-right: 0.75em;
}

.minmax-temperature i {
  margin-right: 0.25em;
}

.overcast-container {
  width: 40%;
  align-self: center;
}

.overcast-container img {
  display: block;
  margin: 0 auto;
}

.overcast-container p {
  text-align: center;
}

.weather-details-container {
  max-width: 328px;
  margin: 0 auto;
}

.weather-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.weather-detail-title {
  font-weight: 500;
}
